* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	background: rgba(255, 157, 122, 0.712);
}

.jogo-memoria {
	width: 640px;
	height: 640px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;
}

.carta-jogo {
	width: calc(25% - 10px);
	height: calc(33.333% - 10px);
	margin: 5px;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.carta-jogo:active {
	transform: scale(0.97);
	transition: transform .2s;
}

.carta-jogo.flip {
	transform: rotateY(180deg);
}

.carta-frente,
.carta-verso {
	width: 100%;
	height: 100%;
	padding: 20px;
	position: absolute;
	border-radius: 5px;
	background: #D9886A;
	backface-visibility: hidden;
}

.carta-frente {
	transform: rotateY(180deg);
}

header{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	
}

h1{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 40pt;
	padding: 20px;

}